DEBUG=True
SECRET_KEY=your-secret-key-here-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=crm_lms_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

DJANGO_SETTINGS_MODULE=config.settings.dev

# NVIDIA AI API
NVIDIA_API_KEY=your-nvidia-api-key-here

# Telegram Bot для обратной связи
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here
TELEGRAM_CHAT_ID=your-telegram-chat-id-here
